*{
	margin: 0;
	padding: 0;
}

html, body
{
    height: 100%;
	margin: 0;
	padding: 0;
}

.container
{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box
{
    background-color: rgba(70, 12, 207, 0.863);
    width: 300px;
    height: 300px;
}