@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body
{
    text-align: center;
    background-color: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}
main
{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
}

.pokedex
{
    width: 100%;

}

.container
{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box
{
    background-color: rgba(70, 12, 207, 0.863);
    width: 300px;
    height: 300px;
}